{% extends "base.html" %}

{% block title %}
Enrollment for GYM 
{% endblock title %}

{% block head  %}
<h1> Join our Gym best in Chandigrah.. </h1>
<div class="container mt-2">
   <div class="row">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
         {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               <strong></strong>{{message}}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
         {% endfor %}
         <form action="{% url "enroll" %}" method="POST"> {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="fullName" placeholder="Enter your full name" required>
            </div>
            <div class="form-group">
               <input type="email" class="form-control mt-2" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group mt-2">
               <select class="form-control p-2" id="gender" name="gender"  required>
                  <option selected> Select Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
               <input type="phone" class="form-control mt-2" name="phonenumber" value="{{user.username.phonenumber}}" placeholder="Enter your Phone Number" required>
            </div>
            <div class="form-group">
               <input type="date" class="form-control mt-2" name="DOB" placeholder="Enter your Date of Birth" required>
            </div>
            <div class="form-group mt-2">
               <select class="form-control p-2"  name="select_mebership_plan" required>
                  <option selected> Select Mebership Plan</option>
                  {% for p in Mebership  %}
                     <option value="{{p.plan}} - {{p.price}}">{{p.plan}} - {{p.price}} Rs</option>
                  {% endfor %}
               </select>
            </div>
            <div class="form-group mt-2">
               <select class="form-control p-2"  name="select_trainer" required>
                  <option selected> select Trainer</option>
                  {% for T in SelectTrainer  %}
                     <option value="{{T.name}}">{{T.name}}</option>
                  {% endfor %}
               </select>
            </div>
            <div class="form-group">
               <input type="text" class="form-control mt-2" name="reference" placeholder="Referd By" required>
            </div>
            <div class="form-group">
               <input type="text" class="form-control mt-2" name="address" placeholder="Enter your Address" required>
            </div>
            <br>
            <div class="d-grid gap-2">
               <button type="submit" class="btn btn-warning">Enroll</button>
            </div>
         </form>
      </div>
      <div class="col-md-3"></div>
   </div>
</div>
{% endblock head  %}  